<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        
        <div class="footer-pad">
          <h4>asdasd</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="/info">esim</a></li>
            <li><a href="/varaus">esim</a></li>
            <li><a href="#">esim </a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">

        <div class="footer-pad">
          <h4>otsikko 2</h4>
          <ul class="list-unstyled">
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">

        <div class="footer-pad">
          <h4>Otsikko 3</h4>
          <ul class="list-unstyled">
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
            <li><a href="#">esim</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
