<head>
  <title>{{{ title }}}</title>
 <script src="/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/bootstrap/css/bootstrap-material-design.min.css">
<script src="/popper/umd/popper.js"></script>
<script src="/bootstrap/js/bootstrap-material-design.js"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</head>