<div class="center">
  <div class="col-xs-12">
    <h1>Label name</h1>

    <div class="jumbotron bg-dark">
      <h1 class="display-4 text-white">upload your demo</h1>
      <hr class="my-3">
      <p class="lead">
        <a class="btn btn-primary btn-lg text-white" href="/demosubmission" role="button">upload demo!</a>
      </p>
    </div>