<div class="center">
  <div class="col-xs-12">
    <h1>Label name</h1> 

<div class="jumbotron">
  <h1 class="display-4">upload your demo</h1>
  <hr class="my-3">
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/upload" role="button">upload demo!</a>
  </p>
</div>

