<div class="container-fluid">
  <div class="col-xs-12">
    <h1>Tietoa mökinvarausjärjestelmästä</h1> 
    <h3>Vuokraa mökki 24 tunniksi helposti!</h3>
    <p>jotain tietoa varauksesta</p>
    <p>jee</p>
    <hr>
  </div>
</div>