<div class="center">
  <div class="col-xs-12">

<h1>Upload your demo!</h1>

<form method="POST" action="/upload">
    <div class="form-group">    
        <label for="formGroupExampleInput" class="bmd-label-floating">Artist name(s)</label>
        <input type="text" class="form-control" id="name" type="text" name="name" required="true" value="">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput" class="bmd-label-floating">Track title</label>
        <input type="text" class="form-control" id="title" type="text" name="title" required="true" value="">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput" class="bmd-label-floating">genre</label>
        <input type="text" class="form-control" id="genre" type="text" name="genre" required="true" value="">
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput" class="bmd-label-floating">Soundcloud link</label>
        <input type="text" class="form-control" id="link" type="text" name="link" required="true" value="">
    </div>

    <div class="form-group">
        <button class="btn btn-success" type="submit">Send demo!</button>
        <button class="btn btn-danger" type="cancel" onclick="window.location='/';return false;">Cancel</button>
    </div>
</form> 