<h2>Demo upload was successful!</h2>
<div class="success-checkmark">
  <div class="check-icon">
    <span class="icon-line line-tip"></span>
    <span class="icon-line line-long"></span>
    <div class="icon-circle"></div>
    <div class="icon-fix"></div>
  </div>
</div>
<h4 class="text-white">Label will email you for more details if you make it in!</h4>
<p class="text-white">Your demo will be reviewed withn 2 weeks, all data is removed after review
  is completed
</p>