.bg-greymaterial {
    background-color:#37474F;
}

.bg-darkmaterial {
    background-color:#263238;
}

.html body {
    background-color: #1C2331;
}

.bg-materialbck {
    background-color: #2E2E2E;
}

.bg-unique-color-dark {
    background-color: #212121;
}

.bg-dark-m {
    background-color: #1C2331;
}

.bg-fields {
    background-color: rgba(142, 146, 153, 0.6);
}

.bg-demosub {
    background-color: rgba(46, 46, 46, 0.59);
}

.btn-deep-grey {
    background-color: #263238;
}

.bg-demo-upload {
	background-image: url('/img/studio.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

  